<div class="step">
  <div class="step-number">
    <%= number %>
  </div>

  <div class="step-summary">
    <%= markdown(summary) %>
  </div>

  <% for diff in diffs %>
    <div class="diff">
      <div class="diff-header">
        <a href="https://github.com/snaptoken/<%= name %>-tutorial/blob/step-<%= number %>/<%= diff.filename %>">
          <%= diff.filename %>
        </a>
      </div>
      <div class="diff-code">
        <table>
        <% for line in diff.lines %>
          <tr>
            <td class="line-number">
              <%= line.line_number %>
            </td>
            <td class="line <%= diff.is_new_file ? :unchanged : line.type %>">\\
              <% if line.type == :folded %>\\
                <%= line.source.gsub('<span class="err">…</span>', '…') %>\\
              <% else %>\\
                <%= line.source %>\\
              <% end %>\\
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div class="step-explanation">
    <%= markdown(text) %>
  </div>
</div>
